@charset "utf-8";

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    justify-items: stretch;
    align-items: stretch;
}

.wrapper>div {
    background: #eee;
    padding: 2em;
}

.wrapper>div:nth-child(odd) {
    background: lightblue;
}

.box1 {
    border: solid 4px black;
    grid-column: 1 / 4;
    grid-row: 1 / 3;

}

.box2 {
    border: solid 4px black;
    grid-column: 3;
    grid-row: 1 / 3;
}

.box3 {
    border: solid 4px black;
    grid-column: 2 / 4;
    grid-row: 3 / 4 ;
}

.box4 {
    border: solid 4px black;
    grid-column: 1;
    grid-row: 2 / 4
}

